.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;

    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.2);

    transition: opacity var(--duration) var(--transition-timing-function), visibility var(--duration) var(--transition-timing-function);
}

.backdrop.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translateX(-50%) translateY(-50%) scale(1);

    width: 100%;
    min-height: 581px;
    padding: 40px;

    background-color: var(--whity-color);
    border-radius: 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);

    transition: transform var(--duration) var(--transition-timing-function), box-shadow var(--duration) var(--transition-timing-function);

    @media screen and (min-width:480px) and (max-width: 1199px) {
            width: 450px; 
        }

    @media screen and (min-width: 1200px) {
        width: 528px;
        }
}

.backdrop.is-hidden .modal {
    transform: translateX(-50%) translateY(-70%) scale(0.8);
}


.modal__title {
    margin-bottom: 12px;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--titly-text-color);
}

.form {
    position: relative;
    display: block;
    margin-bottom: 10px;
}

.form:last-child {
    margin-bottom: 0;
}

.form__input {
    padding-left: 42px;
    width: 100%;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: none;

    transition: border var(--duration) var(--transition-timing-function);

    &:focus-within {
            border: 1px solid #2196F3;
        }
}

.form__label {
    margin-bottom: 4px;

    font-size: 12px;
    line-height: 1.666;
    letter-spacing: 0.01em;
    color: var(--icon-color);
}

.form__icon {
    position: absolute;
    bottom: 11px;
    left: 12px;

    fill: var(--titly-text-color);

    transition: fill var(--duration) var(--transition-timing-function);
}

.form__input:focus-within~.form__icon {
    fill: var(--accent-color);
}

.form__comment {
    resize: none;
    padding: 12px 16px 12px 16px;
    width: 100%;

    outline: none;

    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;

    transition: border var(--duration) var(--transition-timing-function);

    &:focus-within {
            border: 1px solid #2196F3;
        }
}

.form__comment::placeholder {
    font-size: 12px;
    line-height: 1.166;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
}



.form-checkbox {
    position: relative;
    display: flex;
    
    align-items: center;
    justify-content: start;
    
    margin-bottom: 30px;
    padding-left: 36px;

    font-size: 12px;
    line-height: 1.714;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);

    @media screen and (min-width: 1200px) {
        font-size: 14px;
        }
}

.form-checkbox__text {
    display: block;
}

.form-checkbox__input {
    appearance: none;
}

.form-checkbox__icon {
    position: absolute;
    left: 13px;
}

.form-checkbox__icon .unchek {
    opacity: 1;
    transition: opacity var(--duration) var(--transition-timing-function);
}

.form-checkbox__input:checked+.form-checkbox__icon .unchek {
    opacity: 0;
}

.form-checkbox__icon .check {
    opacity: 0;
    transition: opacity var(--duration) var(--transition-timing-function);
}

.form-checkbox__input:checked+.form-checkbox__icon .check {
    opacity: 1;
}

.form-checkbox__link {
    text-decoration-line: underline;
    color: var(--accent-color);
}

