.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.work {
    flex-basis: 100%;

    @media screen and (min-width: 768px) {
        flex-basis: calc((100% - 30px)/2);
    }

    @media screen and (min-width: 1200px) {
        flex-basis: calc((100% - 60px)/3);
        }
    
}

.work__link {
    display: block;
    text-decoration: none;

    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);

    transition-property: box-shadow;
    transition-duration: var(--duration);
    transition-timing-function: var(--transition-timing-function);

    &__link:hover {
            box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
        }
}

.work__content-group {
    border-left: 1px solid #eeeeee;
    border-bottom: 1px solid #eeeeee;
    border-right: 1px solid #eeeeee;
    padding: 20px 24px;
}

.work__title {
    font-size: 18px;
    font-weight: 700;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--titly-text-color);
}

.work__text {
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
}

.work__trumb {
    position: relative;
    overflow: hidden;
}

.work__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-color: rgba(33, 150, 243, 0.9);

    transform: translateY(101%);
    transition-property: transform;
    transition-duration: var(--duration);
    transition-timing-function: var(--transition-timing-function);

    .work__link:hover & {
            transform: translateY(0%);
        }
}

.work__overlay-text {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.555;
    letter-spacing: 0.03em;

    color: var(--whity-color);

    padding-left: 24px;
    padding-right: 24px;
    padding-top: 63px;
}

