//social links block team

.social-links {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    
    @media screen and (min-width: 1200px) {
        justify-content: start;
        }
}

.social {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 55px;

    &--c-greyr-bg-white {
            color: var(--icon-color);
            background-color: var(--whity-color);
            transition: color var(--duration) var(--transition-timing-function), background-color var(--duration) var(--transition-timing-function);
        }
    
    &--c-greyr-bg-white:hover {
            background-color: var(--accent-color);
            color: var(--whity-color);
        }
    
    &__icon {
            fill: currentColor;
        }
}


//footer social

.social--c-white-bg-grey {
    color: var(--whity-color);
    fill: currentColor;
    background-color: rgba(255, 255, 255, 0.1);

    transition-property: background-color;
    transition-duration: var(--duration);
    transition-timing-function: var(--transition-timing-function);
}

.social:hover {
    background-color: var(--accent-color)
}

